body{background: #000000;}
header{
     background: #00ff00;
     margin: 0.5%;
     padding: 1em;
}
header h1{
     background: #0000ff;
     color: #ff0000;
     cursor: pointer;
     text-align: center;
}
nav{
     background: #ff0000;
     padding: 1em;
}
input:hover{cursor: pointer;}
div{
     background: #ffffff;
     padding: 1em;
}
section{
     background: #cccccc;
     border-radius: 5px;
     box-shadow: 2px 5px 8px;
     display: inline-block;
     margin: 0.5%;
     padding: 1em;
     vertical-align: top;
     width: 25%;
}
section h1{
     background: #000000;
     color: #ffffff;
     cursor: pointer;
     text-align: center;
}
section p{
     text-shadow: 2px 2px 2px;
     text-align: justify;
}
section p:last-child::first-letter{
     float: left;
     font-size: 2.3em;
     line-height: 1;
}
footer{background: transparent;}
footer p{
     color: #cccccc;
     cursor: pointer;
     text-align: center;
     quotes: '\201C' '\201D';
}
footer p::after{content: close-quote;}
footer p::before{content: open-quote;}